<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>OTP Verification Form</title>
    <link rel="stylesheet" href="/otp/styles.css"/>
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
   <script src="/otp/script.js" defer></script>
  </head>
  <body>
    <div class="container">
      <header>
        <i class="bx bxs-check-shield"></i>
      </header>
      <h4>Enter OTP Code</h4>
      <% if (signUp == 1) { %>
        <form name="otp" action="/otpPage" method="post">
          <div class="input-field">
            <input type="number" name="one" />
            <input type="number" disabled name="two" />
            <input type="number" disabled name="three" />
            <input type="number" disabled name="four" />
          </div>
          <button>Verify OTP</button>
        </form>
      <% } else { %>
        <form name="otp" action="/verify-otp" method="post">
          <div class="input-field">
            <input type="number" name="one" />
            <input type="number" disabled name="two" />
            <input type="number" disabled name="three" />
            <input type="number" disabled name="four" />
          </div>
          <button>Verify OTP</button>
        </form>
      <% } %>
      <div id="resend-container">
        <p>Didn't receive OTP? Click below to resend.</p>
        <button id="resend-button">Resend OTP</button>
        <p id="timer">Wait 60 seconds before resending.</p>
      </div>
    
   
   <script>
    var timerInterval;
    var timeout;

    (function () {
      var timer = document.getElementById('timer');
      var button = document.getElementById('resend-button');
      timer.style.display = 'inline-block';
      button.style.display = 'none';
      var seconds = 60;
      timer.innerHTML = 'Wait  '+ seconds + 'seconds before resending.';
      timerInterval = setInterval(function () {
        seconds--;
        if (seconds <= 0) {
          clearInterval(timerInterval);
          timer.style.display = 'none';
          button.style.display = 'inline-block';
          timeout = setTimeout(function () {
            button.style.display = 'none';
          }, 10000);
        } else {
          timer.innerHTML ='Wait   '+ seconds + 'seconds before resending.';
        }
      }, 1000);
    })();
    
    const resendButton = document.getElementById('resend-button');
  resendButton.addEventListener('click', () => {
    fetch('/resend-otp', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      // You can include additional data in the request body if required
      // body: JSON.stringify({ phonenumber: phoneNumber }),
    })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          stopTimer(); // Reset the timer
          alert('New OTP sent successfully');
        } else {
          alert('Failed to resend OTP');
        }
      })
      .catch(error => {
        console.error('An error occurred:', error);
      });
  });

  function stopTimer() {
      clearInterval(timerInterval);
      clearTimeout(timeout);
      var timer = document.getElementById("timer");
      var button = document.getElementById("resend-button");
      timer.style.display = "none";
      button.style.display = "inline-block";
    }
    </script>

  </body>
</html>